<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;

}
.s {
  text-align: center;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #bcf1f2}
</style>

<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
