<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Points</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

